html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*.logo:hover {
  background-image: none;
  background: white;
  transition:  500ms linear;
  background-size: cover;
}*/
body {
  background-color: #45606E;
  color: #FCFEF5;
  margin: 0;
  padding: 0; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.top {
  height: 300px; }

.swamp-rabbit-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
  font-family: "arial";
  margin-top: 3%; }
  .swamp-rabbit-header:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .swamp-rabbit-header {
      margin-top: 16%; } }

.logo {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: 29%;
  border: 3px solid #FCFEF5;
  margin: auto;
  float: none;
  margin-top: 5%;
  background: url("../images/logo-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 100%; }
  .logo::after {
    clear: both;
    content: "";
    display: table; }
  .logo:last-child {
    margin-right: 0; }
  @media screen and (max-width: 965px) {
    .logo {
      height: 34%; } }

.best-gear {
  height: 100px;
  font-size: 22px;
  font-family: "arial";
  text-align: center;
  margin-top: -10%; }
  @media screen and (max-width: 965px) {
    .best-gear {
      text-align: center; } }

.recent-bike-photo {
  height: 300px;
  overflow: hidden; }

@media screen and (max-width: 480px) {
  .pictures {
    height: 300px;
    width: 100%; } }

@media screen and (min-width: 966px) {
  .pictures {
    height: 300px;
    width: 30%; } }

@media screen and (max-width: 965px) {
  .pictures {
    height: 300px;
    width: 33%; } }

.para-mnt-bike {
  height: 150px;
  text-align: center;
  font-size: 20px;
  font-family: "Arial"; }
  @media screen and (max-width: 480px) {
    .para-mnt-bike {
      display: none; } }

.contact-us {
  height: 300px;
  text-align: center;
  font-size: 20px;
  font-family: "arial"; }

.email {
  font-size: 25px; }

.footer {
  height: 100px; }

.SRC-LLC {
  text-align: center;
  font-size: 20px;
  font-family: "arial"; }

@media screen and (max-width: 965px) {
  figure {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%; } }

@media screen and (min-width: 966px) {
  figure {
    width: 100%;
    margin-left: 3%; } }

.email-link {
  color: #1F3440; }

.nav {
  list-style-type: none;
  margin-right: 10%; }
  @media screen and (max-width: 480px) {
    .nav {
      margin-left: -50%; } }

.fa {
  margin-top: 20%;
  font-size: 32px; }

.nav-pics {
  text-decoration: none;
  color: white; }

.top-nav {
  background-color: black;
  height: 36%;
  width: 10%;
  position: fixed;
  border-radius: 0% 20% 20% 0%; }

iframe {
  margin-left: 20%; }
  @media screen and (max-width: 480px) {
    iframe {
      width: 85%;
      margin-top: 10%;
      height: 400px;
      margin-left: 8%; } }

@media screen and (max-width: 480px) {
  @keyframes slidy {
    0% {
      left: 0%; }
    20% {
      left: 0%; }
    25% {
      left: -100%; }
    45% {
      left: -100%; }
    50% {
      left: -200%; }
    70% {
      left: -200%; }
    75% {
      left: -300%; }
    95% {
      left: -300%; }
    100% {
      left: -400%; } }
  body {
    margin: 0; }
  div#slider {
    overflow: hidden; }
  div#slider figure img {
    width: 20%;
    float: left; }
  div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 13s slidy infinite; } }
