html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: pink;
  margin: 0;
  padding: 0; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.top {
  height: 300px;
  border: 1px solid black; }

.swamp-rabbit-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center; }
  .swamp-rabbit-header:last-child {
    margin-right: 0; }

.logo {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  height: 29%;
  border: 1px solid black;
  margin: auto;
  float: none;
  margin-top: 10%;
  background-image: url("../images/bike-logo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .logo::after {
    clear: both;
    content: "";
    display: table; }
  .logo:last-child {
    margin-right: 0; }

.best-gear {
  height: 100px;
  border: 1px solid black;
  font-size: 22px;
  font-family: "arial";
  text-align: center; }
  @media screen and (max-width: 965px) {
    .best-gear {
      text-align: center; } }

.recent-bike-photo {
  height: 300px;
  border: 1px solid black;
  overflow: hidden; }

@media screen and (max-width: 480px) {
  .pictures {
    height: 300px;
    width: 100%; } }

@media screen and (max-width: 965px) {
  .pictures {
    height: 300px;
    width: 33%; } }

.para-mnt-bike {
  height: 150px;
  text-align: center;
  font-size: 20px;
  font-family: "Arial"; }
  @media screen and (max-width: 480px) {
    .para-mnt-bike {
      display: none; } }

.contact-us {
  height: 300px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  font-family: "arial"; }

.email {
  font-size: 25px; }

.footer {
  height: 100px;
  border: 1px solid black; }

.SRC-LLC {
  text-align: center;
  font-size: 20px;
  font-family: "arial"; }

@media screen and (max-width: 965px) {
  figure {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%; } }

@media screen and (max-width: 480px) {
  @keyframes slidy {
    0% {
      left: 0%; }
    20% {
      left: 0%; }
    25% {
      left: -100%; }
    45% {
      left: -100%; }
    50% {
      left: -200%; }
    70% {
      left: -200%; }
    75% {
      left: -300%; }
    95% {
      left: -300%; }
    100% {
      left: -400%; } }
  body {
    margin: 0; }
  div#slider {
    overflow: hidden; }
  div#slider figure img {
    width: 20%;
    float: left; }
  div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 13s slidy infinite; } }
